{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
        <!-- input your name-->
            <input autocomplete="off" autofocus class="form-control mx-auto" name="name" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
        <!-- input a username-->
            <input autocomplete="off" class="form-control mx-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
        <!-- imput a password -->
            <input class="form-control mx-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
        <!-- input a confimration of the password-->
            <input class="form-control mx-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
    <!-- submit the registration-->
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
